version: '3.8'

services:
  # Serviço que irá servir o seu PWA compilado via Nginx
  vite-pwa-app:
    # Usa o Dockerfile no diretório atual para construir a imagem
    build: 
      context: . 
      dockerfile: Dockerfile
    
    container_name: vite-pwa-app-container
    
    # Reinicia automaticamente o contêiner em caso de falha
    restart: always
    
    # Conecta o serviço à rede 'proxy' para comunicação com o Traefik
    networks:
      - proxy
      
    # Configurações do Traefik
    labels:
      # Habilita o Traefik para este serviço
      - "traefik.enable=true"
      
      # Roteador (Router): Regra de Host e Entrypoint HTTPS
      - "traefik.http.routers.vitepwa.rule=Host(`${VITE_PWA_HOST}`)"
      - "traefik.http.routers.vitepwa.entrypoints=websecure" # Ponto de entrada HTTPS do seu Traefik
      - "traefik.http.routers.vitepwa.service=vitepwa-service"
      
      # TLS/SSL: Força HTTPS e solicita o certificado Let's Encrypt
      - "traefik.http.routers.vitepwa.tls=true"
      - "traefik.http.routers.vitepwa.tls.certresolver=letsencrypt"

      # Load Balancer Service: Aponta para a porta interna do Nginx (80)
      # Essa porta é a que o Nginx está escutando DENTRO do contêiner
      - "traefik.http.services.vitepwa-service.loadbalancer.server.port=80"


# Definição das Redes
networks:
  proxy:
    # Indica que esta rede deve ser a rede externa onde o Traefik está
    external: true